<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Pigeon</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script src="https://kit.fontawesome.com/7d14b767c7.js" crossorigin="anonymous"></script>
  </head>

  <body class="bg-zinc-950 text-gray-200">
    {{{ body }}}
  </body>
</html>
