<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Messenger</title>
    <link rel="stylesheet" href="/styles/main.css" />
  </head>

  <body>
    <div class="flex-column justify-space-around">
      <header class="display-flex justify-space-between align-center p-2">
        <h1>Hello World!</h1>
      </header>
      <main class="container container-fluid mt-5">{{{ body }}}</main>
    </div>
  </body>
</html>
