<div id="chatroom-list">
    {{#if chatrooms.length}}
        {{#each chatrooms}}
            <div class="chatroom">
                <a href="/chatroom/{{id}}">{{name}}</a>
            </div>
        {{/each}}
    {{else}}
        <h2>No chatrooms available</h2>
    {{/if}}
</div>
<script>console.log("helloWorld")</script>