{{#if chatrooms.length}}
    {{#each chatrooms}}
        <a href="/chatroom/{{id}}" class="px-4 py-2 bg-zinc-700 hover:bg-zinc-700/20 transition-all rounded-sm">
            <span>{{name}}</span>
        </a>
    {{/each}}
{{else}}
    <h2>No chatrooms available</h2>
{{/if}}