{{#if valid}}
<div class="flex gap-x-2">
    <span>Welcome back </span>
    <div class="user-dropdown">
        <div class="flex gap-x-2 items-center cursor-pointer">
            <span class="underline">{{display_name}}</span>
            <i class="fa-solid fa-angle-down"></i>
        </div>
        <div class="user-dropdown-content">
            <a href="/profile" class="w-full">
                <div class="py-2 w-full text-center hover:text-zinc-400 hover:bg-zinc-950/50 transition-all">Profile</div>
            </a>
            <button id="logout-button" class="hover:text-zinc-400 hover:bg-zinc-950/50 transition-all py-2 w-full">Logout</button>
        </div>
    </div>
</div>
{{else}}
    <a href="/login" class="hover:text-zinc-400 transition-all">Login</a>
{{/if}}