@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

textarea,
input {
  outline: none;
}

#chat-messages {
  overflow-anchor: none;
}

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800/70 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}
