@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

textarea,
input {
  outline: none;
}

#chat-messages {
  overflow-anchor: none;
}

/* width */
::-webkit-scrollbar {
  @apply w-2;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-zinc-800/70 rounded-full;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
  cursor: pointer;
}

.chatroom-info:hover::after {
  @apply flex items-center bg-zinc-900 px-2 py-8 rounded-md;
  content: "Created by: " attr(data-info) "\a Created at: "attr(data-timestamp);
  white-space: pre;
  position: absolute;
  top: 0;
  right: calc(100% + 8px);
  bottom: 0;
}
